.list-container {
    width: 100% !important;
    max-width: 400px;
    margin: 0 auto !important;
    padding-top: 5px !important;
}

.list-btn {
    margin-top: 10px !important;
    display: flex;
    justify-content: space-between;
}

/* .branch-title {

} */
/* .branch-distance {
    display: flex;
    justify-content: flex-end !important;
} */