.service-title {
    font-weight: 500!important;
    font-size: 100%!important;
}

.service-title:hover {
  color: #d4ae80 !important;
}

.service-price {
    color: red;
}

.service-card {
    width: 90%;
    height: auto;
    margin: 1rem 0 1rem 0;
}
