.service-title {
    font-weight: 500!important;
    font-size: 100%!important;
}

.post-title:hover {
  color: #d4ae80 !important;
}

.post-title {
    font-size: 4rem;
}

.post-date {
    color: grey;
}

.post-card {
    width: 70%;
    height: auto;
    margin: 1rem 0 1rem 0;
}
