Button {
    margin-right: auto;
    padding: 15px;
    position: absolute;
    float: right;
    margin-top: 15px;

 
}

h1{
    text-align: center;
    color: rgb(51, 43, 43);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}