p {
    font-family: Arial, Helvetica, sans-serif;
}

.preview-info-container {
    width: 100% !important;
    max-width: 400px !important;
    justify-content: center !important;
    margin: 6.5px auto;
}

.service-preview-container {
    display: flex;
    justify-content: space-between;
}

.price-container {
    color: red;
    font-weight: 500;
}
