.search-bar-container {
    width: 50% !important;
    display: block !important;
    
}

.search-form {
    width: 30% !important;
    margin: 0 auto !important;
    position: relative;
    top:-8px;

}

.text {
    width: 100% !important;
    min-width: 100% !important;
}