.carousel-img {
    max-width: 100% !important;
    height: auto !important;
}

.slick-prev:before, .slick-next:before{
    color:red !important;
}

.post-carousel-header {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 15px 0;
}

/* .picture-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    resize: both !important;
} */