table {
    border-collapse: collapse ;
    width: 100%;
    margin: 5rem auto;
    background-color: rgb(201, 201, 201);

}

thead{
    background-color: rgb(15, 209, 223);
}

 th, td {
    border: 1px solid beige;
    padding: 8px;
    text-align: center;
    
   
}

.edit-btn{
    display: flex; 
    justify-content: center;
    display: grid; 
    vertical-align: middle;
    text-align: center; 
}


