.search-bar-container {
    width: 100% !important;
    max-width: 500px !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto;
}

.search-form {
    width: 90% !important;
    /* margin: 0 16px !important; */

}

.text {
    width: 100% !important;
    min-width: 100% !important;
}