/* *{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.App {
  
    height: 100vh;
    background-color: rgb(90, 83, 42);
    background-blend-mode: overlay;
    background-size: cover ;
    background-repeat: no-repeat ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;
}


.cover {
    background-color: rgba(199, 182, 182, 0.745);
    width: 70%;
    height: 50%;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 150px;
}

input {
    border: none;
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 226, 226);
    width: 100%;
    height: 75%;
    border-radius: 0.25em;
    text-align: left ;
    padding: 2em;
    font-size: 1em;
}

input:focus {
    outline-color: rgb(176, 168, 13);
}

.login-btn {
    width: 40%;
    height: 3em;
    width: 400px;
    background-color: rgb(176, 168, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.login-btn:hover { transform: scale(1.25);}

.container_swap{
    width: 400px;
    display: inline-block;
    }

.register-btn {
    width: 185px;
    float: left; 
    height: 3em;
    background-color: rgb(176, 168, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
}

.forget-btn {
    width: 185px;
    float: right; 
    height: 3em;
    background-color: rgb(176, 168, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    
}

.forget-btn:hover { transform: scale(1.25);}


.register-btn:hover { transform: scale(1.25);}



.icon {

    padding: 10px;
    color: black;
    min-width: 50px;
    text-align: center;
    position: absolute;
}

.error-msg{
    font-size: 12px;
    width: 100%;
    color: red;
}

@media only screen and (min-device-width: 37em) {
    .page {
        font-size: 1em;
    }

    .cover {
        width: 40%;
        height: 50%;
    }
} */